*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav{
    width: 71%;
    /* border: 1px solid red; */
    max-width: 1140px;
    margin: 0px auto;
}